* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.baner {
   
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
/*
body {
    font-family: 'Segoe UI';
    font-weight: 400;
    background-color: #ededed;
    height: 100%;
}


.footer {
    padding: 80px;
    background-color: #fff;
}

.footer .social {
    text-align: center;
    padding-bottom: 10px;
    color: #4b4c4d;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 0.9;
}
*/